body {
    height: 100vh;
    background-color: #000000;
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.title {
    color: gray;
    width: 250px;
    margin: 0 auto 80px auto;
    text-align: center;
}

.algorithms-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-bottom: 30px;
}

.form {
    width: 450px;
    margin: 0 auto;
}

.numbers-label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

#numbers {
    width: 450px;
    height: 30px;
}

h2 {
    text-align: center;
}

.buttons {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.algorithm-item {
    cursor: pointer;
    font-size: 20px;
}

.media-button {
    background: greenyellow;
    color: #000;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    margin: 5px;
    cursor: pointer;
    font-size: 20px;
}

.sort {
    margin: 40px;
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.sort-item {
    border: 1px solid gray;
    padding: 10px;
    text-align: center;
}

.sort-title {
    text-align: center;
}

.button-active {
    color: greenyellow;
}

.sort-text {
    background-color: gray;
    flex: 1 1 auto;
    font-size: 20px;
    padding: 20px;
}

.text-selected {
    color: greenyellow;
}

[disabled="disabled"] {
    background-color: gray;
    cursor: pointer;
}